.bobby{
    background-color: hsl(337, 95%, 40%);
    font-size: 70%;
    font-family:  Tahoma, sans-serif;
}
h1{
    font-size: 35px;
}
h2{
    color: bisque;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: hwb(194 35% 20%);
    font-size: 25px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    color: rgb(238, 245, 242);
}
ul{
    font-size: 30px;
    color: azure;
    column-gap: normal;
}
li{
    font-size: 40px;
    color: rgb(255, 250, 240);
}
.class{
    color: black;
    font-size: 40px;
}