.bobby{
    background-color: chartreuse;
    font-size: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 35px;
}
body{
    background-color: indianred;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    color: rgb(182, 192, 122);
}
ul{
    font-size: 30px;
    color: azure;
    column-gap: normal;
}
li{
    font-size: 30px;
    color: rgb(12, 12, 11);
}
img{
    image-resolution: 20px;
    image-rendering: optimizeQuality;
    position: relative;
    height: fit-content;
}